body {
	margin:0px;
	padding:0px;
	font: 11px/12px Verdana, Arial, Helvetica, sans-serif; 
	color:#333;
	background-color:white;
	}
	
h1 {
	margin:0px 0px 15px 0px;
	padding:0px;
	font-size:28px;
	line-height:28px;
	font-weight:900;
	color:#ccc;
	}
	
p {
	font:11px/20px verdana, arial, helvetica, sans-serif;
	margin:0px 0px 16px 0px;
	padding:0px;
	}
#right>p {margin:0px;}
#right>p+p {text-indent:30px;}

a {
	color:#09c;
	font-size:11px;
	text-decoration:none;
	font-weight:600;
	font-family:verdana, arial, helvetica, sans-serif;
	}
a:link {color:#09c;}
a:visited {color:#07a;}
a:hover {background-color:#eee;}

#right {
	margin: 5px 5px 5px 433px;
	padding:0px;
	}
	
#left {
	position:absolute;
	top:5px;
	left:5px;
	width:420px;
	padding:0px 0px 0px 0px;
/* Again, the ugly brilliant hack. */
	voice-family: "\"}\"";
	voice-family:inherit;
	width:420px;
	}
/* Again, "be nice to Opera 5". */
body>#left {width:420px;
}

#breadcrumb 
{
	margin: 0px 0px 5px 0px;
	padding: 0px 0px 0px 2px;
	background-color:#eee;
	border:1px solid #999;
	line-height:17px;
}

#posts 
{
	padding: 0px 0px 0px 2px;
	margin: 0px 0 px 0px 0px;
	background-color:#eee;
	border:1px solid #999;
	line-height:17px;
	overflow-y:auto;
}

#bottomRightImage 
{
	float: right;
}


