/**
 * 100% height layout with header and footer
 * ----------------------------------------------
 * Feel free to copy/use/change/improve
 * http://www.xs4all.nl/~peterned/examples/csslayout1.html
 */

html,body {
	margin:0;
	padding:0;
	height:100%; /* needed for container min-height */
	background:gray;
	
	font-family:arial,sans-serif;
	font-size:small;
	color:#666;
}

h1 { 
	font:1.5em georgia,serif; 
	margin:0.5em 0;
}

h2 {
	font:1.25em georgia,serif; 
	margin:0 0 0.5em;
}

h1, h2, a {
	color:orange;
}

p { 
	line-height:1.5; 
	margin:0 0 1em;
}

div#sidebar {
	position:relative; /* needed for footer positioning*/
	margin:0 auto; /* center, not in IE5 */
	margin-right: 5px;
	margin-left: 5px;
	width:150px;
	background:#f0f0f0;
	padding: 5px 5px 0px 5px;
	
	height:auto !important; /* real browsers */
	height:100%; /* IE6: treaded as min-height*/
	min-height:100%; /* real browsers */
	
	float: left;
	text-align: center;
	
	overflow: hidden;
	overflow-x: hidden;
	overflow-y: auto;
}

div#container {
	position:relative; /* needed for footer positioning*/
	margin:0 auto; /* center, not in IE5 */
	left: 170px;
	padding: 5px;
	padding-right: 175px;
	margin-right: 175px;
	
	/*background:#f0f0f0;*/
	
	height:auto !important; /* real browsers */
	height:100%; /* IE6: treaded as min-height*/
	min-height:100%; /* real browsers */
	
}

div#content 
{
	position:relative; /* needed for footer positioning*/
	margin:0 auto; /* center, not in IE5 */
	left: 170px;
	padding:5px;
	padding-right: 175px;
	margin-right: 175px;
	margin-top: 32px;
	
	background:#f0f0f0;
	text-align: center;
}

div#titlebar
{
	position: absolute;
	background:#f0f0f0;
	border-bottom:6px double gray;
	left: 175px;
	margin-right: 180px;
	padding:5px;
	background:#f0f0f0;
}

div#title
{
	background:#f0f0f0;
	float:right;
	
}

div#navigation 
{
	position: absolute;
	background:#f0f0f0;
	border-top:6px double gray;
	left: 175px;
	margin-right: 180px;
	padding:5px;
}

div#previous 
{
	background:#f0f0f0;
	float: left;
}

div#next
{
	background:#f0f0f0;
	float: right;
}

div#header {
	padding:5px;
	background-color:#ddd;
	border-bottom:6px double gray;
}

div#header p {
	font-style:italic;
	font-size:1.1em;
	margin:0;
}