/**
 * 100% height layout with header and footer
 * ----------------------------------------------
 * Feel free to copy/use/change/improve
 * http://www.xs4all.nl/~peterned/examples/csslayout1.html
 */

html,body {
	margin:0;
	padding:0;
	background:gray;
	
	font-family:arial,sans-serif;
	font-size:small;
	color:#666;
}

h1 { 
	font:1.5em georgia,serif; 
	margin:0.5em 0;
}

h2 {
	font:1.25em georgia,serif; 
	margin:0 0 0.5em;
}

h1, h2, a {
	color:orange;
}

p { 
	line-height:1.5; 
	margin:0 0 1em;
}

div#thumbnails {
	width: 98%;
	background:#f0f0f0;
	padding: 5px;
	
	overflow: hidden;
	overflow-x: auto;
	overflow-y: hidden;
	margin: 0 auto;
}

div#container 
{
	margin:0 auto;
	padding: 3px 0px 0px 0px;
}

div#content 
{
	margin:0 auto;
	text-align: center;
	width: 98%;
}

div#titlebar
{
	margin:0 auto;
	height: 16px;
	background:#f0f0f0;
	border-bottom:6px double gray;
	padding: 5px;
	width: 98%;
}

div#title
{
	background:#f0f0f0;
	float:right;
}

div#navigation 
{
	margin:0 auto;
	width: 98%;
	height: 16px;
	background:#f0f0f0;
	border-top:6px double gray;
	padding:5px;
	margin-bottom: 5px;
}

div#previous 
{
	float: left;
}

div#next
{
	float: right;
}

div#header {
	padding:5px;
	background-color:#ddd;
	border-bottom:6px double gray;
}

div#header p {
	font-style:italic;
	font-size:1.1em;
	margin:0;
}

.description
{
	margin:0 auto;
	width: 98%;
	background:#f0f0f0;
	border-top:6px double gray;
	padding:5px;
}

.photo
{
	 border: solid 1px #000 !important;
}

.selectedPhoto 
{
	border: solid 1px orange !important;
}