body { 
	font: 11px/12px Verdana, Arial, Helvetica, sans-serif; 
	color: #000000; 
	background-color: #ffffff;
	/*text-align: center;*/
	}
	
td { font: 11px/12px Verdana, Arial, Helvetica, sans-serif; 
	color: #000000; 
	}
	
p { font: 11px/12px Verdana, Arial, Helvetica, sans-serif; 
	color: #000000; 
	margin: 0px 0px 0px 0px;
	}
	
br {
	display: block;
}

h1 {
	margin: 0;
	padding: 0;
	font-size: 1px;
	height: 100px;
	text-indent: -2000px;
	background: #ffffff url(images/header.jpg);
	}

h2 {
	padding: 0 0 0 20px;
	margin: 5px 0 0 0;
	color: #434343;
	text-align: right;
	font: bold 12px/18px Georgia, "Times New Roman", Times, serif;
	}
	
h3 {
	padding: 0 0 0 0px;
	margin: 0;
	color: #000000;
	text-align: left;
	font: bold 11px/12px Verdana, Arial, Helvetica, sans-serif;	
}

.warning 
{
	color: Red; 
	font-weight: bold 
}
	
.greyout 
{
	color: #999999; 
}
	
.copyright 
{ 
	font: 11px/12px Verdana, Arial, Helvetica, sans-serif; 
	font-size: xx-small; 
	color: #000000; 
	text-align: right;
	width: 641px;
}
	
.border 
{
	border: solid 1px black; 
}

#container {
	text-align: left;
	border: 1px solid #545454;
	width: 641px;
	margin: 0px;
	/* don't show this */
	/* background: #fff url(images/sidebar.gif) repeat-y 507px; */
}

#nav {
	border-style: solid;
	border-color: #545454;
	border-width: 1px;
	height: 25px;
	background: #cbd1c3;
	padding: 0px 0px 0px 5px;
	font: 11px/18px Georgia, Times New Roman, Times, serif;
	}
	
	#nav ul {
		margin: 0 0 0 -80px !important;
		margin: 0;
		list-style: none;
		text-align: center;
		}
		
	#nav ul li {
		display: inline;
		padding: 0 0 0 0;
		}

	#nav ul li a {
		color: #000;
		font: bold 14px/25px Georgia, "Times New Roman", Times, serif;
		text-decoration: none;
		padding: 3px 8px;
		}
		
	#nav ul li .nav_on {
		color: #ffffff;
	}
	
	#nav ul li .nav_off {
		color: #000;
	}

	#nav ul li a:hover {
		text-decoration: none;
		color: #ffffff;
		}

.citation 
{
	/*padding: 0 0 0 20px;
	margin: 5px 0 0 0;
	text-align: right;*/
	float: right;
	/*display: block;*/
		}

#sidebar 
{
	/* don't show this... */
	display: none;
	
	width: 123px;
	float: right;
	padding: 5px;
	margin: 0 0 0 0;
	background-color: #DBDBDB;
	}
	
	#sidebar p {
		color: #222222;
		font: 11px/12px Verdana, Arial, Helvetica, sans-serif;
		margin: 0 0 10px 12px;
		}

.greyBorder
{
	border: solid 1px #cccccc;
	padding: 5px;
}

.greyBorderCentered
{
	border: solid 1px #cccccc;
	text-align: center;
	padding: 5px;
}

.content 
{
	/* we want to take the whole line, instead of before when we had a sidebar */
	/* width: 500px; */
	padding: 0px;
	margin: 5px 5px 5px 5px;
}

.content p .date {
	display: block;
	font-weight: bold;
	}

#comments {
	width: 410px;
	padding: 5px 5px 5px 5px;
	margin: 3px 0px 0px 0px;
	background-color: #DBDBDB;
	border: 1px solid #545454;
	}
	
	#comments .user {
		font-weight: bold;
	}
	
	#comments .actions
	{
		display: block;
		float: right;
	}
	
	#comments .text {
		line-height: 15px;
	}
	
	#comments .date 
	{
		/* display: block; */
		float: right;
	}
	
#add_comment {
	float: left;
	width: 500px;
	padding: 0;
	margin: 0 5px 0 5px;
}