USE [GameTracker]
GO
/****** Object:  StoredProcedure [dbo].[usp_GetTournaments]    Script Date: 03/11/2007 23:35:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[usp_GetTournaments]
AS
SET NOCOUNT ON
	
SELECT		Id, [Name]
FROM		Tournament
ORDER BY	Id ASC;
	
RETURN