body {
	margin:0px;
	padding:0px;
	font: 11px/12px Verdana, Arial, Helvetica, sans-serif;
	color:#333;
	text-align:center;
	}
	
h1 {
	margin:0px 0px 2px 0px;
	padding:0px;
	font-size:13px;	
	font-weight:bold;
	color:#000;
	}
	
h2 {
	margin:0px 0px 0px 0px;
	padding:0px;
	font-size:13px;
	font-weight:bold;
	}
	
p {
	font:11px/20px verdana, arial, helvetica, sans-serif;
	margin:0px 0px 16px 0px;
	padding:0px;
	}

a {
	color:#09c;
	font-size:11px;
	text-decoration:none;
	font-weight:600;
	font-family:verdana, arial, helvetica, sans-serif;
	}
	
a:link {
	color:#9966CC;
	}
	
a:visited {
	color:#9999FF;
	}
	
a:hover {
	background-color:#FFFF99;
	}

#content {
	width:800px;
	margin: 5px auto 5px auto;
	padding:0px;
	text-align:left;
	}
	
#leftContent {
	width:389px;
	padding:2px;
	margin:0px;
	float:left;
	border:1px solid #999999;
	line-height:17px;
	overflow:auto;
	overflow-x:hidden;
	overflow-y:auto;
	}

#rightContent {
	width:389px;
	padding:2px;
	margin:0px;
	float:right;
	border:1px solid #999999;
	line-height:17px;
	overflow:auto;
	overflow-x:hidden;
	overflow-y:auto;
	}
	
#permalinkContent {
	width: 795px;
	padding: 2px;
	margin: 0px;
	float: left;
	border: 1px solid #999;
	line-height: 17px;
	overflow: auto;
	overflow-x: hidden;
	overflow-y: auto;
}

#tagContent {
	width: 795px;
	padding: 2px;
	margin: 0px;
	float: left;
	border: 1px solid #999;
	line-height: 17px;
	overflow: auto;
	overflow-x: hidden;
	overflow-y: auto;
}

#archiveContent {
	width: 795px;
	padding: 2px;
	margin: 0px;
	float: left;
	border: 1px solid #999;
	line-height: 17px;
	overflow: auto;
	overflow-x: hidden;
	overflow-y: auto;
}

#breadcrumb 
{
	margin: 0px 0px 5px 0px;
	padding: 0px 2px 0px 2px;
	border: 1px solid #999;
	line-height: 17px;
}

#logo {
	margin: 0px 0px 5px 0px;
	padding: 0px 2px 0px 2px;
	border: 1px solid #999;
	text-align: center;
	width: 200px;
}

#tags {
	margin: 0px 0px 5px 0px;
	padding: 0px 2px 0px 2px;
	border: 1px solid #999;
	position: absolute;
	overflow: auto;
	overflow-x: hidden;
	overflow-y: auto;
}

#recent {
	margin: 0px 0px 5px 0px;
	padding: 0px 2px 0px 2px;
	border: 1px solid #999;
	position: absolute;
	overflow: auto;
	overflow-x: hidden;
	overflow-y: auto;
}

#titleImage {
	text-align: center;
}

#rightArchives {
	width:250px;
	padding:2px;
	margin:5px 0px 5px 0px;
	border:1px solid #999;
	line-height:17px;
	bottom:-30px;
	height: 40px;
	position:absolute;
	z-index: -1;
	text-align: left;
	}
	
#rightArchives ul {
	list-style-type: square;
	margin-left: 0px;
	padding-left: 15px;
	}
	
#rightArchiveTitle {
	font-weight:bold;
	font-size:16px;
	line-height:16px;
	text-align: right;
}

#rightArchiveArrow {
	padding-left:2px;
	float:right;
}

#leftArchives {
	width:250px;
	padding:2px;
	margin:5px 0px 5px 0px;
	border:1px solid #999;
	line-height:17px;
	bottom:-30px;
	height: 40px;
	position:absolute;
	z-index: -1;
	text-align: left;
	}
	
#leftArchives ul {
	list-style-type: square;
	margin-left: 0px;
	padding-left: 15px;
}
	
#leftArchiveTitle {
	font-weight:bold;
	font-size:16px;
	line-height:16px;
}

#leftArchiveArrow {
	float:left;
	padding-right:2px;
}

#contact {
	width:300px;
	padding:2px;
	margin:5px 0px 5px 0px;
	border:1px solid #999;
	line-height:17px;
	bottom:-30px;
	height:40px;
	position:absolute;
	z-index: -1;
	text-align:center;
	}

#contactTitle {
	font-weight:bold;
	font-size:16px;
	line-height:16px;
	padding-right:2px;
}

.title {
	font-weight: bold;
}

.dateTime {
	font-style: italic;
}

.entryHr {
	width: 90%; 
	text-align: center; 
	color: #000000;
	height: 1px;
}

.permalink {
	text-align: right;
}