<Settings>
  <ParentType>Dual</ParentType>
  <Width>500</Width>
  <Height>500</Height>
  <SplitterPercentage>50</SplitterPercentage>
  <DirectoriesSortedFirst>true</DirectoriesSortedFirst>
  <Logger>
    <File>log.txt</File>
    <LogLevel>Verbose</LogLevel>
  </Logger>
  <Icons>
    <ShowOverlay>true</ShowOverlay>
    <Extensions>
      <Extension>.exe</Extension>
      <Extension>.lnk</Extension>
      <Extension>.dll</Extension>
      <Extension>.ps</Extension>
      <Extension>.scr</Extension>
      <Extension>.ico</Extension>
      <Extension>.icn</Extension>
    </Extensions>
  </Icons>
  <ResourceRetrievers>
    <ResourceRetriever Name="DriveRetriever">
      <ChildResourceRetrievers>
        <ChildResourceRetriever>CompressedFileRetriever</ChildResourceRetriever>
        <ChildResourceRetriever>FileRetriever</ChildResourceRetriever>
      </ChildResourceRetrievers>
      <FullyQualifiedType Assembly="SharpFile.IO" Type="SharpFile.IO.Retrievers.DriveRetriever" />
    </ResourceRetriever>
    <ResourceRetriever Name="NetworkDriveRetriever">
      <ChildResourceRetrievers>
        <ChildResourceRetriever>FileRetriever</ChildResourceRetriever>
      </ChildResourceRetrievers>
      <FullyQualifiedType Assembly="SharpFile.IO" Type="SharpFile.IO.Retrievers.NetworkDriveRetriever" />
    </ResourceRetriever>
  </ResourceRetrievers>
  <ChildResourceRetrievers>
    <ChildResourceRetriever Name="FileRetriever">
      <FullyQualifiedType Assembly="SharpFile.IO" Type="SharpFile.IO.Retrievers.FileRetriever" />
      <View>ListView</View>
      <ColumnInfos>
        <ColumnInfo Text="Filename" Property="DisplayName" PrimaryColumn="true" />
        <ColumnInfo Text="Size" Property="Size" PrimaryColumn="false">
          <MethodDelegateType Method="GetHumanReadableSize">
            <FullyQualifiedType Assembly="Common" Type="Common.General" />
          </MethodDelegateType>
        </ColumnInfo>
        <ColumnInfo Text="Date" Property="LastWriteTime" PrimaryColumn="false">
          <MethodDelegateType Method="GetDateTimeShortDateString">
            <FullyQualifiedType Assembly="Common" Type="Common.General" />
          </MethodDelegateType>
        </ColumnInfo>
        <ColumnInfo Text="Time" Property="LastWriteTime" PrimaryColumn="false">
          <MethodDelegateType Method="GetDateTimeShortTimeString">
            <FullyQualifiedType Assembly="Common" Type="Common.General" />
          </MethodDelegateType>
        </ColumnInfo>
      </ColumnInfos>
    </ChildResourceRetriever>
    <ChildResourceRetriever Name="CompressedFileRetriever">
      <FullyQualifiedType Assembly="SharpFile.IO" Type="SharpFile.IO.Retrievers.CompressedFileRetrievers.ReadOnlyCompressedFileRetriever" />
      <MethodDelegateType Method="IsCompressedFile">
        <FullyQualifiedType Assembly="SharpFile.Infrastructure" Type="SharpFile.Infrastructure.ChildResourceRetrievers" />
      </MethodDelegateType>
      <View>ListView</View>
      <ColumnInfos>
        <ColumnInfo Text="Filename" Property="DisplayName" PrimaryColumn="true" />
        <ColumnInfo Text="Size" Property="Size" PrimaryColumn="false">
          <MethodDelegateType Method="GetHumanReadableSize">
            <FullyQualifiedType Assembly="Common" Type="Common.General" />
          </MethodDelegateType>
        </ColumnInfo>
        <ColumnInfo Text="Compressed Size" Property="CompressedSize" PrimaryColumn="false">
          <MethodDelegateType Method="GetHumanReadableSize">
            <FullyQualifiedType Assembly="Common" Type="Common.General" />
          </MethodDelegateType>
        </ColumnInfo>
        <ColumnInfo Text="Date" Property="LastWriteTime" PrimaryColumn="false">
          <MethodDelegateType Method="GetDateTimeShortDateString">
            <FullyQualifiedType Assembly="Common" Type="Common.General" />
          </MethodDelegateType>
        </ColumnInfo>
        <ColumnInfo Text="Time" Property="LastWriteTime" PrimaryColumn="false">
          <MethodDelegateType Method="GetDateTimeShortTimeString">
            <FullyQualifiedType Assembly="Common" Type="Common.General" />
          </MethodDelegateType>
        </ColumnInfo>
      </ColumnInfos>
    </ChildResourceRetriever>
  </ChildResourceRetrievers>
  <Views>
    <View Name="ListView">
      <FullyQualifiedType Assembly="SharpFile" Type="SharpFile.ListView" />
      <ComparerType Assembly="SharpFile.UI" Type="SharpFile.UI.ListViewItemComparer" />
    </View>
  </Views>
</Settings>