<Settings>
  <ParentType>Dual</ParentType>
  <Width>500</Width>
  <Height>500</Height>
  <SplitterPercentage>50</SplitterPercentage>
  <DirectoriesSortedFirst>true</DirectoriesSortedFirst>
  <Icons>
    <ShowOverlay>true</ShowOverlay>
    <Extensions>
      <Extension>.exe</Extension>
      <Extension>.lnk</Extension>
      <Extension>.dll</Extension>
      <Extension>.ps</Extension>
      <Extension>.scr</Extension>
      <Extension>.ico</Extension>
      <Extension>.icn</Extension>
    </Extensions>
  </Icons>
  <ResourceRetrievers>
    <ResourceRetriever Name="DriveRetriever">
      <ChildResourceRetrievers>
        <ChildResourceRetriever>ProgrammingFileRetriever</ChildResourceRetriever>
        <ChildResourceRetriever>CompressedFileRetriever</ChildResourceRetriever>
        <ChildResourceRetriever>FileRetriever</ChildResourceRetriever>
      </ChildResourceRetrievers>
      <FullyQualifiedType Assembly="SharpFile.IO" Type="SharpFile.IO.Retrievers.DriveRetriever" />
    </ResourceRetriever>
    <ResourceRetriever Name="NetworkDriveRetriever">
      <ChildResourceRetrievers>
        <ChildResourceRetriever>FileRetriever</ChildResourceRetriever>
      </ChildResourceRetrievers>
      <FullyQualifiedType Assembly="SharpFile.IO" Type="SharpFile.IO.Retrievers.NetworkDriveRetriever" />
    </ResourceRetriever>
  </ResourceRetrievers>
  <ChildResourceRetrievers>
    <ChildResourceRetriever Name="FileRetriever">
      <ColumnInfos>
        <ColumnInfo Text="Filename" Property="DisplayName" PrimaryColumn="true">
          <ComparerType Assembly="Common" Type="Common.General.StringLogicalComparer" />
        </ColumnInfo>
        <ColumnInfo Text="Size" Property="Size" PrimaryColumn="false">
          <ComparerType Assembly="Common" Type="Common.General.StringLogicalComparer" />
          <MethodDelegateType Method="GetHumanReadableSize">
            <FullyQualifiedType Assembly="Common" Type="Common.General" />
          </MethodDelegateType>
        </ColumnInfo>
        <ColumnInfo Text="Date" Property="LastWriteTime" PrimaryColumn="false">
          <ComparerType Assembly="Common" Type="Common.General.StringLogicalComparer" />
          <MethodDelegateType Method="GetDateTimeShortDateString">
            <FullyQualifiedType Assembly="Common" Type="Common.General" />
          </MethodDelegateType>
        </ColumnInfo>
        <ColumnInfo Text="Time" Property="LastWriteTime" PrimaryColumn="false">
          <ComparerType Assembly="Common" Type="Common.General.StringLogicalComparer" />
          <MethodDelegateType Method="GetDateTimeShortTimeString">
            <FullyQualifiedType Assembly="Common" Type="Common.General" />
          </MethodDelegateType>
        </ColumnInfo>
      </ColumnInfos>
      <FullyQualifiedType Assembly="SharpFile.IO" Type="SharpFile.IO.Retrievers.FileRetriever" />
    </ChildResourceRetriever>
    <ChildResourceRetriever Name="ProgrammingFileRetriever">
      <MethodDelegateType Method="IsProgrammingDirectory">
        <FullyQualifiedType Assembly="SharpFile.Infrastructure" Type="SharpFile.Infrastructure.ChildResourceRetrievers" />
      </MethodDelegateType>
      <ColumnInfos>
        <ColumnInfo Text="File" Property="DisplayName" PrimaryColumn="true">
          <ComparerType Assembly="Common" Type="Common.General.StringLogicalComparer" />
        </ColumnInfo>
        <ColumnInfo Text="Size" Property="Size" PrimaryColumn="false">
          <ComparerType Assembly="Common" Type="Common.General.StringLogicalComparer" />
          <MethodDelegateType Method="GetHumanReadableSize">
            <FullyQualifiedType Assembly="Common" Type="Common.General" />
          </MethodDelegateType>
        </ColumnInfo>
        <ColumnInfo Text="Date" Property="LastWriteTime" PrimaryColumn="false">
          <ComparerType Assembly="Common" Type="Common.General.StringLogicalComparer" />
          <MethodDelegateType Method="GetDateTimeShortDateString">
            <FullyQualifiedType Assembly="Common" Type="Common.General" />
          </MethodDelegateType>
        </ColumnInfo>
        <ColumnInfo Text="Time" Property="LastWriteTime" PrimaryColumn="false">
          <ComparerType Assembly="Common" Type="Common.General.StringLogicalComparer" />
          <MethodDelegateType Method="GetDateTimeShortTimeString">
            <FullyQualifiedType Assembly="Common" Type="Common.General" />
          </MethodDelegateType>
        </ColumnInfo>
      </ColumnInfos>
      <FullyQualifiedType Assembly="SharpFile.IO" Type="SharpFile.IO.Retrievers.FileRetriever" />
    </ChildResourceRetriever>
    <ChildResourceRetriever Name="CompressedFileRetriever">
      <MethodDelegateType Method="IsCompressedFile">
        <FullyQualifiedType Assembly="SharpFile.Infrastructure" Type="SharpFile.Infrastructure.ChildResourceRetrievers" />
      </MethodDelegateType>
      <ColumnInfos>
        <ColumnInfo Text="Filename" Property="DisplayName" PrimaryColumn="true">
          <ComparerType Assembly="Common" Type="Common.General.StringLogicalComparer" />
        </ColumnInfo>
        <ColumnInfo Text="Size" Property="Size" PrimaryColumn="false">
          <ComparerType Assembly="Common" Type="Common.General.StringLogicalComparer" />
          <MethodDelegateType Method="GetHumanReadableSize">
            <FullyQualifiedType Assembly="Common" Type="Common.General" />
          </MethodDelegateType>
        </ColumnInfo>
        <ColumnInfo Text="Date" Property="LastWriteTime" PrimaryColumn="false">
          <ComparerType Assembly="Common" Type="Common.General.StringLogicalComparer" />
          <MethodDelegateType Method="GetDateTimeShortDateString">
            <FullyQualifiedType Assembly="Common" Type="Common.General" />
          </MethodDelegateType>
        </ColumnInfo>
        <ColumnInfo Text="Time" Property="LastWriteTime" PrimaryColumn="false">
          <ComparerType Assembly="Common" Type="Common.General.StringLogicalComparer" />
          <MethodDelegateType Method="GetDateTimeShortTimeString">
            <FullyQualifiedType Assembly="Common" Type="Common.General" />
          </MethodDelegateType>
        </ColumnInfo>
      </ColumnInfos>
      <FullyQualifiedType Assembly="SharpFile.IO" Type="SharpFile.IO.Retrievers.FileRetriever" />
    </ChildResourceRetriever>
  </ChildResourceRetrievers>
</Settings>