<Settings>
  <ParentType>Dual</ParentType>
  <Width>500</Width>
  <Height>500</Height>
  <SplitterPercentage>50</SplitterPercentage>
  <DirectoriesSortedFirst>true</DirectoriesSortedFirst>
  <ResourceRetrievers>
    <ResourceRetriever Name="DriveRetriever" ChildResourceRetriever="FileRetriever">
      <FullyQualifiedType Assembly="SharpFile.IO" Type="SharpFile.IO.Retrievers.DriveRetriever" />
    </ResourceRetriever>
    <ResourceRetriever Name="NetworkDriveRetriever" ChildResourceRetriever="FileRetriever">
      <FullyQualifiedType Assembly="SharpFile.IO" Type="SharpFile.IO.Retrievers.NetworkDriveRetriever" />
    </ResourceRetriever>
  </ResourceRetrievers>
  <ChildResourceRetrievers>
    <ChildResourceRetriever Name="FileRetriever">
      <ColumnInfos>
        <ColumnInfo Text="Filename" Property="DisplayName" PrimaryColumn="true">
          <ComparerType Assembly="SharpFile.Infrastructure" Type="SharpFile.Infrastructure.StringLogicalComparer" />
        </ColumnInfo>
        <ColumnInfo Text="Size" Property="Size" PrimaryColumn="false">
          <ComparerType Assembly="SharpFile.Infrastructure" Type="SharpFile.Infrastructure.StringLogicalComparer" />
          <MethodDelegateType Method="GetHumanReadableSize">
            <FullyQualifiedType Assembly="Common" Type="Common.General" />
          </MethodDelegateType>
        </ColumnInfo>
        <ColumnInfo Text="Date" Property="LastWriteTime" PrimaryColumn="false">
          <ComparerType Assembly="SharpFile.Infrastructure" Type="SharpFile.Infrastructure.StringLogicalComparer" />
          <MethodDelegateType Method="GetDateTimeShortDateString">
            <FullyQualifiedType Assembly="SharpFile.Infrastructure" Type="SharpFile.Infrastructure.Settings" />
          </MethodDelegateType>
        </ColumnInfo>
        <ColumnInfo Text="Time" Property="LastWriteTime" PrimaryColumn="false">
          <ComparerType Assembly="SharpFile.Infrastructure" Type="SharpFile.Infrastructure.StringLogicalComparer" />
          <MethodDelegateType Method="GetDateTimeShortTimeString">
            <FullyQualifiedType Assembly="SharpFile.Infrastructure" Type="SharpFile.Infrastructure.Settings" />
          </MethodDelegateType>
        </ColumnInfo>
      </ColumnInfos>
      <FullyQualifiedType Assembly="SharpFile.IO" Type="SharpFile.IO.Retrievers.FileRetriever" />
    </ChildResourceRetriever>
  </ChildResourceRetrievers>
</Settings>