body {
	color:#333;
	background-color:#FFFF99;
	}
	
h1 {
	color:#000;
	}
	
a {
	color:#09c;
}
	
a:link {
	color:#9966CC;
	}
	
a:visited {
	color:#9999FF;
	}
	
a:hover {
	background-color:#FFFF99;
	}

#leftContent {
	background-color:#CC99FF;
	}

#rightContent {
	background-color:#99CCFF;
	}
	
#permalinkContent {
	background-color: #99CCFF;
}

#archiveContent {
	background-color: #99CCFF;
}

#breadcrumb 
{
	background-color: #FFFFCC;
}

#logo {
	background-color: #FFFFCC;
}

#rightArchives {
	background-color:#FFFFCC;
}
	
#rightArchives ul {
	list-style-type: square;
	}

#leftArchives {
	background-color:#FFFFCC;
	}
	
#leftArchives ul {
	list-style-type: square;
}
	
#contact {
	background-color:#FFFFCC;
}

.entryHr {
	color: #000000;
}