.title 
{
	font-size: large;
	font-weight: bolder;
	border-bottom: solid 1px #cccccc;
	margin-bottom: 5px;
}

.item
{
	border: solid 1px #cccccc;
	padding: 5px 5px 5px 5px;
	margin-bottom: 5px;
}

.itemHeader
{
	font-weight: bold;
	line-height: 1.5;
}

.itemImage
{
	float: right;
}

.itemImageBorder
{
	border: solid 1px #000000;
}

.olderVersionsTitle
{
	font-weight: bolder;
}

.changeLogTitle
{
	font-weight: bolder;
}

.contact
{
	border-top: solid 1px #cccccc;
	margin-top: 5px;
}