<Settings>
  <ParentType>Dual</ParentType>
  <Width>500</Width>
  <Height>500</Height>
  <SplitterPercentage>50</SplitterPercentage>
  <DirectoriesSortedFirst>true</DirectoriesSortedFirst>
  <ShowParentDirectory>true</ShowParentDirectory>
  <ShowRootDirectory>true</ShowRootDirectory>
  <Logger>
    <File>log.txt</File>
    <LogLevel>Verbose</LogLevel>
  </Logger>
  <Icons>
    <ShowAllOverlays>false</ShowAllOverlays>
    <ShowIcons>true</ShowIcons>
    <Extensions>
      <Extension>.exe</Extension>
      <Extension>.lnk</Extension>
      <Extension>.ps</Extension>
      <Extension>.scr</Extension>
      <Extension>.ico</Extension>
      <Extension>.icn</Extension>
    </Extensions>
    <IntensiveSearchDriveTypeEnums>
      <FullyQualifiedEnum Enum="Fixed">
        <FullyQualifiedType Assembly="System" Type="System.IO.DriveType" />
      </FullyQualifiedEnum>
    </IntensiveSearchDriveTypeEnums>
  </Icons>
  <PreviewPanel>
    <AlwaysShowDetailText>false</AlwaysShowDetailText>
    <ShowAllDetailText>false</ShowAllDetailText>
    <MaximumLinesOfDetailText>10</MaximumLinesOfDetailText>
    <ThumbnailImages>false</ThumbnailImages>
    <SplitterPercentage>10</SplitterPercentage>
    <Collapsed>false</Collapsed>
    <NameFormat>{Name} {LastWriteTime}</NameFormat>
    <DetailTextExtensions>
      <Extension />
      <Extension>.txt</Extension>
      <Extension>.config</Extension>
      <Extension>.xml</Extension>
      <Extension>.ini</Extension>
      <Extension>.cs</Extension>
      <Extension>.log</Extension>
    </DetailTextExtensions>
  </PreviewPanel>
  <ParentResourceRetrievers>
    <ParentResourceRetriever Name="DriveRetriever">
      <!-- Specify ChildResourceRetrievers in order of priority with the default last -->
      <ChildResourceRetrievers>
        <!--<ChildResourceRetriever>MediaRetriever</ChildResourceRetriever>-->
        <ChildResourceRetriever>CompressedRetriever</ChildResourceRetriever>
        <ChildResourceRetriever>DefaultRetriever</ChildResourceRetriever>
      </ChildResourceRetrievers>
      <FullyQualifiedType Assembly="SharpFile" Type="SharpFile.IO.Retrievers.DriveRetriever" />
    </ParentResourceRetriever>
  </ParentResourceRetrievers>
  <ChildResourceRetrievers>
    <ChildResourceRetriever Name="DefaultRetriever">
      <ColumnInfos>
        <ColumnInfo Text="Filename" Property="DisplayName" PrimaryColumn="true" />
        <ColumnInfo Text="Size" Property="Size">
          <ExcludeForTypes>
            <FullyQualifiedType Assembly="SharpFile" Type="SharpFile.IO.ChildResources.DirectoryInfo" />
            <FullyQualifiedType Assembly="SharpFile" Type="SharpFile.IO.ChildResources.DriveInfo" />
          </ExcludeForTypes>
          <FullyQualifiedMethod Name="GetHumanReadableSize">
            <FullyQualifiedType Assembly="Common" Type="Common.General" />
          </FullyQualifiedMethod>
        </ColumnInfo>
        <ColumnInfo Text="Date" Property="LastWriteTime">
          <ExcludeForTypes>
            <FullyQualifiedType Assembly="SharpFile" Type="SharpFile.IO.ChildResources.ParentDirectoryInfo" />
            <FullyQualifiedType Assembly="SharpFile" Type="SharpFile.IO.ChildResources.RootDirectoryInfo" />
          </ExcludeForTypes>
          <FullyQualifiedMethod Name="GetDateTimeShortDateString">
            <FullyQualifiedType Assembly="Common" Type="Common.General" />
          </FullyQualifiedMethod>
        </ColumnInfo>
        <ColumnInfo Text="Time" Property="LastWriteTime">
          <ExcludeForTypes>
            <FullyQualifiedType Assembly="SharpFile" Type="SharpFile.IO.ChildResources.ParentDirectoryInfo" />
            <FullyQualifiedType Assembly="SharpFile" Type="SharpFile.IO.ChildResources.RootDirectoryInfo" />
          </ExcludeForTypes>
          <FullyQualifiedMethod Name="GetDateTimeShortTimeString">
            <FullyQualifiedType Assembly="Common" Type="Common.General" />
          </FullyQualifiedMethod>
        </ColumnInfo>
      </ColumnInfos>
      <FullyQualifiedType Assembly="SharpFile" Type="SharpFile.IO.Retrievers.DefaultRetriever" />
			<FullyQualifiedMethod Name="TrueFilterMethod">
				<FullyQualifiedType Assembly="SharpFile" Type="SharpFile.Infrastructure.ChildResourceRetrievers" />
				<Arguments />
			</FullyQualifiedMethod>
      <View>ListView</View>
    </ChildResourceRetriever>
    <ChildResourceRetriever Name="MediaRetriever">
      <ColumnInfos>
        <ColumnInfo Text="Filename" Property="DisplayName" PrimaryColumn="true" />
        <ColumnInfo Text="Ext" Property="Extension" />
        <ColumnInfo Text="Size" Property="Size">
          <FullyQualifiedMethod Name="GetHumanReadableSize">
            <FullyQualifiedType Assembly="Common" Type="Common.General" />
          </FullyQualifiedMethod>
        </ColumnInfo>
        <ColumnInfo Text="Date" Property="LastWriteTime">
          <FullyQualifiedMethod Name="GetDateTimeShortDateString">
            <FullyQualifiedType Assembly="Common" Type="Common.General" />
          </FullyQualifiedMethod>
        </ColumnInfo>
        <ColumnInfo Text="Time" Property="LastWriteTime">
          <FullyQualifiedMethod Name="GetDateTimeShortTimeString">
            <FullyQualifiedType Assembly="Common" Type="Common.General" />
          </FullyQualifiedMethod>
        </ColumnInfo>
      </ColumnInfos>
      <FullyQualifiedType Assembly="SharpFile" Type="SharpFile.IO.Retrievers.MediaRetriever" />
      <View>MediaListView</View>
      <FullyQualifiedMethod Name="IsFileWithExtension">
        <FullyQualifiedType Assembly="SharpFile" Type="SharpFile.Infrastructure.ChildResourceRetrievers" />
        <Arguments>
          <Argument>.bmp</Argument>
        </Arguments>
      </FullyQualifiedMethod>
    </ChildResourceRetriever>
    <ChildResourceRetriever Name="CompressedRetriever">
      <ColumnInfos>
        <ColumnInfo Text="Filename" Property="DisplayName" PrimaryColumn="true" />
        <ColumnInfo Text="Size" Property="Size">
          <ExcludeForTypes>
            <FullyQualifiedType Assembly="SharpFile" Type="SharpFile.IO.ChildResources.DirectoryInfo" />
            <FullyQualifiedType Assembly="SharpFile" Type="SharpFile.IO.ChildResources.DriveInfo" />
          </ExcludeForTypes>
          <FullyQualifiedMethod Name="GetHumanReadableSize">
            <FullyQualifiedType Assembly="Common" Type="Common.General" />
          </FullyQualifiedMethod>
        </ColumnInfo>
        <ColumnInfo Text="Compressed Size" Property="CompressedSize">
          <ExcludeForTypes>
            <FullyQualifiedType Assembly="SharpFile" Type="SharpFile.IO.ChildResources.DirectoryInfo" />
            <FullyQualifiedType Assembly="SharpFile" Type="SharpFile.IO.ChildResources.DriveInfo" />
          </ExcludeForTypes>
          <FullyQualifiedMethod Name="GetHumanReadableSize">
            <FullyQualifiedType Assembly="Common" Type="Common.General" />
          </FullyQualifiedMethod>
        </ColumnInfo>
        <ColumnInfo Text="Date" Property="LastWriteTime">
          <ExcludeForTypes>
            <FullyQualifiedType Assembly="SharpFile" Type="SharpFile.IO.ChildResources.ParentDirectoryInfo" />
            <FullyQualifiedType Assembly="SharpFile" Type="SharpFile.IO.ChildResources.RootDirectoryInfo" />
          </ExcludeForTypes>
          <FullyQualifiedMethod Name="GetDateTimeShortDateString">
            <FullyQualifiedType Assembly="Common" Type="Common.General" />
          </FullyQualifiedMethod>
        </ColumnInfo>
        <ColumnInfo Text="Time" Property="LastWriteTime">
          <ExcludeForTypes>
            <FullyQualifiedType Assembly="SharpFile" Type="SharpFile.IO.ChildResources.ParentDirectoryInfo" />
            <FullyQualifiedType Assembly="SharpFile" Type="SharpFile.IO.ChildResources.RootDirectoryInfo" />
          </ExcludeForTypes>
          <FullyQualifiedMethod Name="GetDateTimeShortTimeString">
            <FullyQualifiedType Assembly="Common" Type="Common.General" />
          </FullyQualifiedMethod>
        </ColumnInfo>
      </ColumnInfos>
      <FullyQualifiedType Assembly="SharpFile" Type="SharpFile.IO.Retrievers.CompressedRetrievers.ReadOnlyCompressedRetriever" />
      <FullyQualifiedMethod Name="IsFileWithExtension">
        <FullyQualifiedType Assembly="SharpFile" Type="SharpFile.Infrastructure.ChildResourceRetrievers" />
        <Arguments>
          <Argument>.zip</Argument>
        </Arguments>
      </FullyQualifiedMethod>
      <View>ListView</View>
    </ChildResourceRetriever>
  </ChildResourceRetrievers>
  <Views>
    <View Name="ListView">
      <FullyQualifiedType Assembly="SharpFile" Type="SharpFile.ListView" />
      <ComparerType Assembly="SharpFile" Type="SharpFile.UI.ListViewItemComparer" />
    </View>
    <View Name="MediaListView">
      <FullyQualifiedType Assembly="SharpFile" Type="SharpFile.MediaListView" />
      <ComparerType Assembly="SharpFile" Type="SharpFile.UI.ListViewItemComparer" />
    </View>
  </Views>
  <Tools>
    <Tool Name="Command Prompt" Path="cmd" Arguments="/K cd {SelectedPath}" />
  </Tools>
</Settings>