<Settings>
  <ParentType>Dual</ParentType>
  <Width>500</Width>
  <Height>500</Height>
  <SplitterPercentage>50</SplitterPercentage>
  <DirectoriesSortedFirst>true</DirectoriesSortedFirst>
  <ShowParentDirectory>true</ShowParentDirectory>
  <ShowRootDirectory>true</ShowRootDirectory>
  <Logger>
    <File>log.txt</File>
    <LogLevel>Verbose</LogLevel>
  </Logger>
  <Icons>
    <ShowAllOverlays>false</ShowAllOverlays>
    <ShowIcons>true</ShowIcons>
    <Extensions>
      <Extension>.exe</Extension>
      <Extension>.lnk</Extension>
      <Extension>.ps</Extension>
      <Extension>.scr</Extension>
      <Extension>.ico</Extension>
      <Extension>.icn</Extension>
    </Extensions>
    <IntensiveSearchDriveTypes>
      <FullyQualifiedType Assembly="System" Type="System.IO.DriveType.Fixed" />
    </IntensiveSearchDriveTypes>
  </Icons>
  <ParentResourceRetrievers>
    <ParentResourceRetriever Name="DriveRetriever">
      <!-- Specify ChildResourceRetrievers in order of priority with the default last -->
      <ChildResourceRetrievers>
        <!--<ChildResourceRetriever>MediaFileRetriever</ChildResourceRetriever>-->
        <ChildResourceRetriever>CompressedFileRetriever</ChildResourceRetriever>
        <ChildResourceRetriever>FileRetriever</ChildResourceRetriever>
      </ChildResourceRetrievers>
      <FullyQualifiedType Assembly="SharpFile" Type="SharpFile.IO.Retrievers.DriveRetriever" />
    </ParentResourceRetriever>
  </ParentResourceRetrievers>
  <ChildResourceRetrievers>
    <ChildResourceRetriever Name="FileRetriever">
      <ColumnInfos>
        <ColumnInfo Text="Filename" Property="DisplayName" PrimaryColumn="true" />
        <ColumnInfo Text="Size" Property="Size">
          <ExcludeForTypes>
            <FullyQualifiedType Assembly="SharpFile" Type="SharpFile.IO.ChildResources.DirectoryInfo" />
            <FullyQualifiedType Assembly="SharpFile" Type="SharpFile.IO.ChildResources.DriveInfo" />
          </ExcludeForTypes>
          <MethodDelegateType Method="GetHumanReadableSize">
            <FullyQualifiedType Assembly="SharpFile" Type="Common.General" />
          </MethodDelegateType>
        </ColumnInfo>
        <ColumnInfo Text="Date" Property="LastWriteTime">
          <ExcludeForTypes>
            <FullyQualifiedType Assembly="SharpFile" Type="SharpFile.IO.ChildResources.ParentDirectoryInfo" />
            <FullyQualifiedType Assembly="SharpFile" Type="SharpFile.IO.ChildResources.RootDirectoryInfo" />
          </ExcludeForTypes>
          <MethodDelegateType Method="GetDateTimeShortDateString">
            <FullyQualifiedType Assembly="SharpFile" Type="Common.General" />
          </MethodDelegateType>
        </ColumnInfo>
        <ColumnInfo Text="Time" Property="LastWriteTime">
          <ExcludeForTypes>
            <FullyQualifiedType Assembly="SharpFile" Type="SharpFile.IO.ChildResources.ParentDirectoryInfo" />
            <FullyQualifiedType Assembly="SharpFile" Type="SharpFile.IO.ChildResources.RootDirectoryInfo" />
          </ExcludeForTypes>
          <MethodDelegateType Method="GetDateTimeShortTimeString">
            <FullyQualifiedType Assembly="SharpFile" Type="Common.General" />
          </MethodDelegateType>
        </ColumnInfo>
      </ColumnInfos>
      <FullyQualifiedType Assembly="SharpFile" Type="SharpFile.IO.Retrievers.FileRetriever" />
      <View>ListView</View>
    </ChildResourceRetriever>
    <ChildResourceRetriever Name="MediaFileRetriever">
      <ColumnInfos>
        <ColumnInfo Text="Filename" Property="DisplayName" PrimaryColumn="true" />
        <ColumnInfo Text="Ext" Property="Extension" />
        <ColumnInfo Text="Size" Property="Size">
          <MethodDelegateType Method="GetHumanReadableSize">
            <FullyQualifiedType Assembly="SharpFile" Type="Common.General" />
          </MethodDelegateType>
        </ColumnInfo>
        <ColumnInfo Text="Date" Property="LastWriteTime">
          <MethodDelegateType Method="GetDateTimeShortDateString">
            <FullyQualifiedType Assembly="SharpFile" Type="Common.General" />
          </MethodDelegateType>
        </ColumnInfo>
        <ColumnInfo Text="Time" Property="LastWriteTime">
          <MethodDelegateType Method="GetDateTimeShortTimeString">
            <FullyQualifiedType Assembly="SharpFile" Type="Common.General" />
          </MethodDelegateType>
        </ColumnInfo>
      </ColumnInfos>
      <FullyQualifiedType Assembly="SharpFile" Type="SharpFile.IO.Retrievers.MediaFileRetriever" />
      <View>MediaListView</View>
      <MethodDelegateType Method="IsFileWithExtension">
        <FullyQualifiedType Assembly="SharpFile" Type="SharpFile.Infrastructure.ChildResourceRetrievers" />
        <Arguments>
          <Argument>.bmp</Argument>
        </Arguments>
      </MethodDelegateType>
    </ChildResourceRetriever>
    <ChildResourceRetriever Name="CompressedFileRetriever">
      <ColumnInfos>
        <ColumnInfo Text="Filename" Property="DisplayName" PrimaryColumn="true" />
        <ColumnInfo Text="Size" Property="Size">
          <ExcludeForTypes>
            <FullyQualifiedType Assembly="SharpFile" Type="SharpFile.IO.ChildResources.DirectoryInfo" />
            <FullyQualifiedType Assembly="SharpFile" Type="SharpFile.IO.ChildResources.DriveInfo" />
          </ExcludeForTypes>
          <MethodDelegateType Method="GetHumanReadableSize">
            <FullyQualifiedType Assembly="SharpFile" Type="Common.General" />
          </MethodDelegateType>
        </ColumnInfo>
        <ColumnInfo Text="Compressed Size" Property="CompressedSize">
          <ExcludeForTypes>
            <FullyQualifiedType Assembly="SharpFile" Type="SharpFile.IO.ChildResources.DirectoryInfo" />
            <FullyQualifiedType Assembly="SharpFile" Type="SharpFile.IO.ChildResources.DriveInfo" />
          </ExcludeForTypes>
          <MethodDelegateType Method="GetHumanReadableSize">
            <FullyQualifiedType Assembly="SharpFile" Type="Common.General" />
          </MethodDelegateType>
        </ColumnInfo>
        <ColumnInfo Text="Date" Property="LastWriteTime">
          <ExcludeForTypes>
            <FullyQualifiedType Assembly="SharpFile" Type="SharpFile.IO.ChildResources.ParentDirectoryInfo" />
            <FullyQualifiedType Assembly="SharpFile" Type="SharpFile.IO.ChildResources.RootDirectoryInfo" />
          </ExcludeForTypes>
          <MethodDelegateType Method="GetDateTimeShortDateString">
            <FullyQualifiedType Assembly="SharpFile" Type="Common.General" />
          </MethodDelegateType>
        </ColumnInfo>
        <ColumnInfo Text="Time" Property="LastWriteTime">
          <ExcludeForTypes>
            <FullyQualifiedType Assembly="SharpFile" Type="SharpFile.IO.ChildResources.ParentDirectoryInfo" />
            <FullyQualifiedType Assembly="SharpFile" Type="SharpFile.IO.ChildResources.RootDirectoryInfo" />
          </ExcludeForTypes>
          <MethodDelegateType Method="GetDateTimeShortTimeString">
            <FullyQualifiedType Assembly="SharpFile" Type="Common.General" />
          </MethodDelegateType>
        </ColumnInfo>
      </ColumnInfos>
      <FullyQualifiedType Assembly="SharpFile" Type="SharpFile.IO.Retrievers.CompressedFileRetrievers.ReadOnlyCompressedFileRetriever" />
      <MethodDelegateType Method="IsFileWithExtension">
        <FullyQualifiedType Assembly="SharpFile" Type="SharpFile.Infrastructure.ChildResourceRetrievers" />
        <Arguments>
          <Argument>.zip</Argument>
        </Arguments>
      </MethodDelegateType>
      <View>ListView</View>
    </ChildResourceRetriever>
  </ChildResourceRetrievers>
  <Views>
    <View Name="ListView">
      <FullyQualifiedType Assembly="SharpFile" Type="SharpFile.ListView" />
      <ComparerType Assembly="SharpFile" Type="SharpFile.UI.ListViewItemComparer" />
    </View>
    <View Name="MediaListView">
      <FullyQualifiedType Assembly="SharpFile" Type="SharpFile.MediaListView" />
      <ComparerType Assembly="SharpFile" Type="SharpFile.UI.ListViewItemComparer" />
    </View>
  </Views>
</Settings>