<Settings>
  <ChildResourceRetrievers>
    <ChildResourceRetriever Name="DefaultRetriever">
      <Columns>
        <Column Text="Filename" Property="DisplayName" PrimaryColumn="true" />
        <Column Text="Size" Property="Size">
          <ExcludeForTypes>
            <FullyQualifiedType Assembly="SharpFile" Type="SharpFile.IO.ChildResources.DirectoryInfo" />
            <FullyQualifiedType Assembly="SharpFile" Type="SharpFile.IO.ChildResources.DriveInfo" />
          </ExcludeForTypes>
          <FullyQualifiedMethod Name="GetHumanReadableSize">
            <FullyQualifiedType Assembly="Common" Type="Common.General" />
          </FullyQualifiedMethod>
        </Column>
        <Column Text="Date" Property="LastWriteTime">
          <ExcludeForTypes>
            <FullyQualifiedType Assembly="SharpFile" Type="SharpFile.IO.ChildResources.ParentDirectoryInfo" />
            <FullyQualifiedType Assembly="SharpFile" Type="SharpFile.IO.ChildResources.RootDirectoryInfo" />
          </ExcludeForTypes>
          <FullyQualifiedMethod Name="GetDateTimeShortDateString">
            <FullyQualifiedType Assembly="Common" Type="Common.General" />
          </FullyQualifiedMethod>
        </Column>
        <Column Text="Time" Property="LastWriteTime">
          <ExcludeForTypes>
            <FullyQualifiedType Assembly="SharpFile" Type="SharpFile.IO.ChildResources.ParentDirectoryInfo" />
            <FullyQualifiedType Assembly="SharpFile" Type="SharpFile.IO.ChildResources.RootDirectoryInfo" />
          </ExcludeForTypes>
          <FullyQualifiedMethod Name="GetDateTimeShortTimeString">
            <FullyQualifiedType Assembly="Common" Type="Common.General" />
          </FullyQualifiedMethod>
        </Column>
      </Columns>
      <FullyQualifiedType Assembly="SharpFile" Type="SharpFile.IO.Retrievers.DefaultRetriever" />
			<FullyQualifiedMethod Name="TrueFilterMethod">
				<FullyQualifiedType Assembly="SharpFile" Type="SharpFile.Infrastructure.ChildResourceRetrievers" />
				<Arguments />
			</FullyQualifiedMethod>
      <View>ListView</View>
    </ChildResourceRetriever>
    <ChildResourceRetriever Name="CompressedRetriever">
      <Columns>
        <Column Text="Filename" Property="DisplayName" PrimaryColumn="true" />
        <Column Text="Size" Property="Size">
          <ExcludeForTypes>
            <FullyQualifiedType Assembly="SharpFile" Type="SharpFile.IO.ChildResources.DirectoryInfo" />
            <FullyQualifiedType Assembly="SharpFile" Type="SharpFile.IO.ChildResources.DriveInfo" />
          </ExcludeForTypes>
          <FullyQualifiedMethod Name="GetHumanReadableSize">
            <FullyQualifiedType Assembly="Common" Type="Common.General" />
          </FullyQualifiedMethod>
        </Column>
        <Column Text="Compressed Size" Property="CompressedSize">
          <ExcludeForTypes>
            <FullyQualifiedType Assembly="SharpFile" Type="SharpFile.IO.ChildResources.DirectoryInfo" />
            <FullyQualifiedType Assembly="SharpFile" Type="SharpFile.IO.ChildResources.DriveInfo" />
          </ExcludeForTypes>
          <FullyQualifiedMethod Name="GetHumanReadableSize">
            <FullyQualifiedType Assembly="Common" Type="Common.General" />
          </FullyQualifiedMethod>
        </Column>
        <Column Text="Date" Property="LastWriteTime">
          <ExcludeForTypes>
            <FullyQualifiedType Assembly="SharpFile" Type="SharpFile.IO.ChildResources.ParentDirectoryInfo" />
            <FullyQualifiedType Assembly="SharpFile" Type="SharpFile.IO.ChildResources.RootDirectoryInfo" />
          </ExcludeForTypes>
          <FullyQualifiedMethod Name="GetDateTimeShortDateString">
            <FullyQualifiedType Assembly="Common" Type="Common.General" />
          </FullyQualifiedMethod>
        </Column>
        <Column Text="Time" Property="LastWriteTime">
          <ExcludeForTypes>
            <FullyQualifiedType Assembly="SharpFile" Type="SharpFile.IO.ChildResources.ParentDirectoryInfo" />
            <FullyQualifiedType Assembly="SharpFile" Type="SharpFile.IO.ChildResources.RootDirectoryInfo" />
          </ExcludeForTypes>
          <FullyQualifiedMethod Name="GetDateTimeShortTimeString">
            <FullyQualifiedType Assembly="Common" Type="Common.General" />
          </FullyQualifiedMethod>
        </Column>
      </Columns>
      <FullyQualifiedType Assembly="SharpFile" Type="SharpFile.IO.Retrievers.CompressedRetrievers.ReadOnlyCompressedRetriever" />
      <FullyQualifiedMethod Name="IsFileWithExtension">
        <FullyQualifiedType Assembly="SharpFile" Type="SharpFile.Infrastructure.ChildResourceRetrievers" />
        <Arguments>
          <Argument>.zip</Argument>
        </Arguments>
      </FullyQualifiedMethod>
      <View>ListView</View>
    </ChildResourceRetriever>
  </ChildResourceRetrievers>
</Settings>