body 
{
}

.filterResults
{
	border-style: solid;
	border-color: #545454;
	border-width: 1px;
	padding: 3px;
	margin: 2px 2px 10px 2px;
}

.newTournament
{
	border-style: solid;
	border-color: #545454;
	border-width: 1px;
	padding: 3px;
	margin: 2px;
}

.tournamentRow
{
	border-style: solid;
	border-color: #545454;
	border-width: 1px;
	background: #cbd1c3;
	padding: 3px;
	margin: 2px;
}

.matchRow
{
	border-style: solid;
	border-color: #545454;
	border-width: 1px;
	background: #666666;
	padding: 3px;
	margin: 2px 2px 2px 20px;
}

.gameRow
{
	padding: 3px;
	margin: 2px 2px 2px 40px;
}