<?xml version="1.0"?>
<configuration>
	<connectionStrings>
		<add name="connectionString" connectionString="Data Source=ADAM-WIN;Initial Catalog=GameTracker;Integrated Security=True;Pooling=False" />
	</connectionStrings>
	<system.web>
		<compilation debug="true">
			<assemblies>
				<add assembly="System.Design, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
			</assemblies>
		</compilation>
		<authentication mode="Windows"/>
		<customErrors mode="RemoteOnly" defaultRedirect="oops.html">
			<error statusCode="403" redirect="oops.html"/>
			<error statusCode="404" redirect="oops.html"/>
		</customErrors>
		<httpModules>
			<add name="MagicAjax" type="MagicAjax.MagicAjaxModule, MagicAjax"/>
		</httpModules>
	</system.web>
</configuration>
