<?xml version="1.0" encoding="utf-8"?>
<DeployConfig>
  <CompilationMode>InPlaceCompilation</CompilationMode>
  <SavePassword>true</SavePassword>
  <FtpServerOs>215 UNIX Type: L8</FtpServerOs>
  <FtpServerType>Serv-U FTP-Server v2.5i for WinSock ...</FtpServerType>
  <Validated>true</Validated>
  <MsFtpUserPre>false</MsFtpUserPre>
  <StringReplacements>
    <StringReplacement>
      <FilePattern>\Web.Config</FilePattern>
      <LookFor>Data Source=ADAM-WIN;Initial Catalog=Longueur;Integrated Security=True</LookFor>
      <ReplaceWith>Data Source=sql331.mysite4now.com;Initial Catalog=longueur;Persist Security Info=True;User ID=adparadox;Password=_S1mpl3n3ss</ReplaceWith>
    </StringReplacement>
    <StringReplacement>
      <FilePattern>\Web.Config</FilePattern>
      <LookFor>debug="true"</LookFor>
      <ReplaceWith>debug="false"</ReplaceWith>
    </StringReplacement>
    <StringReplacement>
      <FilePattern>\Web.Config</FilePattern>
      <LookFor>customErrors mode="Off"</LookFor>
      <ReplaceWith>customErrors mode="On"</ReplaceWith>
    </StringReplacement>
  </StringReplacements>
  <FtpPort>21</FtpPort>
  <FtpTimeout>20</FtpTimeout>
  <IgnoreFilters>
    <Filter>*.sln</Filter>
    <Filter>*\aspnet_client</Filter>
    <Filter>*.pdb</Filter>
    <Filter>*.suo</Filter>
    <Filter>*.*scc</Filter>
    <Filter>*.exclude</Filter>
    <Filter>*.refresh</Filter>
    <Filter>*.webinfo</Filter>
    <Filter>*.ldf</Filter>
    <Filter>*Thumbs.db</Filter>
    <Filter>*\bin\*.xml</Filter>
  </IgnoreFilters>
  <UploadAssemblyWhenCs>true</UploadAssemblyWhenCs>
  <UploadLog>
    <item>
      <key>
        <string>\software</string>
      </key>
      <value>
        <dateTime>2007-05-17T22:12:16.685824-04:00</dateTime>
      </value>
    </item>
    <item>
      <key>
        <string>\software\download.aspx</string>
      </key>
      <value>
        <dateTime>2007-05-17T22:12:46.1218752-04:00</dateTime>
      </value>
    </item>
    <item>
      <key>
        <string>\software\download.aspx.cs</string>
      </key>
      <value>
        <dateTime>2007-05-17T22:12:46.7227392-04:00</dateTime>
      </value>
    </item>
    <item>
      <key>
        <string>\app_code</string>
      </key>
      <value>
        <dateTime>2007-05-17T22:12:13.4511728-04:00</dateTime>
      </value>
    </item>
    <item>
      <key>
        <string>\app_webreferences</string>
      </key>
      <value>
        <dateTime>2007-05-07T22:11:01.3863072-04:00</dateTime>
      </value>
    </item>
    <item>
      <key>
        <string>\app_webreferences\amazon</string>
      </key>
      <value>
        <dateTime>2007-05-07T22:11:02.057272-04:00</dateTime>
      </value>
    </item>
    <item>
      <key>
        <string>\bin</string>
      </key>
      <value>
        <dateTime>2007-05-07T22:11:02.658136-04:00</dateTime>
      </value>
    </item>
    <item>
      <key>
        <string>\app_code\amazoninfo.cs</string>
      </key>
      <value>
        <dateTime>2007-05-17T22:12:27.7955232-04:00</dateTime>
      </value>
    </item>
    <item>
      <key>
        <string>\app_code\constants.cs</string>
      </key>
      <value>
        <dateTime>2007-05-17T22:12:28.3963872-04:00</dateTime>
      </value>
    </item>
    <item>
      <key>
        <string>\app_code\data.cs</string>
      </key>
      <value>
        <dateTime>2007-05-14T23:23:59.0333824-04:00</dateTime>
      </value>
    </item>
    <item>
      <key>
        <string>\app_code\downloaddata.cs</string>
      </key>
      <value>
        <dateTime>2007-05-08T23:43:22.78276-04:00</dateTime>
      </value>
    </item>
    <item>
      <key>
        <string>\app_code\longueurdata.cs</string>
      </key>
      <value>
        <dateTime>2007-05-07T22:11:07.7554656-04:00</dateTime>
      </value>
    </item>
    <item>
      <key>
        <string>\app_code\searchtype.cs</string>
      </key>
      <value>
        <dateTime>2007-05-17T22:12:36.2076192-04:00</dateTime>
      </value>
    </item>
    <item>
      <key>
        <string>\app_code\siteuser.cs</string>
      </key>
      <value>
        <dateTime>2007-05-14T23:29:54.9074496-04:00</dateTime>
      </value>
    </item>
    <item>
      <key>
        <string>\app_code\usertype.cs</string>
      </key>
      <value>
        <dateTime>2007-05-14T23:30:54.3867008-04:00</dateTime>
      </value>
    </item>
    <item>
      <key>
        <string>\app_code\wittisms.cs</string>
      </key>
      <value>
        <dateTime>2007-05-17T22:12:36.8084832-04:00</dateTime>
      </value>
    </item>
    <item>
      <key>
        <string>\app_webreferences\amazon\awsecommerceservice.discomap</string>
      </key>
      <value>
        <dateTime>2007-05-07T22:11:10.970088-04:00</dateTime>
      </value>
    </item>
    <item>
      <key>
        <string>\app_webreferences\amazon\awsecommerceservice.wsdl</string>
      </key>
      <value>
        <dateTime>2007-05-07T22:11:14.5852864-04:00</dateTime>
      </value>
    </item>
    <item>
      <key>
        <string>\bin\common.dll</string>
      </key>
      <value>
        <dateTime>2007-05-07T22:11:16.2877344-04:00</dateTime>
      </value>
    </item>
    <item>
      <key>
        <string>\bin\magicajax.dll</string>
      </key>
      <value>
        <dateTime>2007-05-07T22:11:19.6926304-04:00</dateTime>
      </value>
    </item>
    <item>
      <key>
        <string>\global.asax</string>
      </key>
      <value>
        <dateTime>2007-05-17T22:12:39.4122272-04:00</dateTime>
      </value>
    </item>
    <item>
      <key>
        <string>\oops.html</string>
      </key>
      <value>
        <dateTime>2007-05-17T22:12:41.3149632-04:00</dateTime>
      </value>
    </item>
    <item>
      <key>
        <string>\web.config</string>
      </key>
      <value>
        <dateTime>2007-05-17T22:12:48.4251872-04:00</dateTime>
      </value>
    </item>
    <item>
      <key>
        <string>\software\index.html</string>
      </key>
      <value>
        <dateTime>2007-05-07T23:46:23.7026448-04:00</dateTime>
      </value>
    </item>
    <item>
      <key>
        <string>\admin</string>
      </key>
      <value>
        <dateTime>2007-05-17T22:27:04.4382128-04:00</dateTime>
      </value>
    </item>
    <item>
      <key>
        <string>\indielyrics</string>
      </key>
      <value>
        <dateTime>2007-05-14T23:23:54.6971472-04:00</dateTime>
      </value>
    </item>
    <item>
      <key>
        <string>\admin\default.aspx</string>
      </key>
      <value>
        <dateTime>2007-05-17T22:12:18.8927216-04:00</dateTime>
      </value>
    </item>
    <item>
      <key>
        <string>\admin\default.aspx.cs</string>
      </key>
      <value>
        <dateTime>2007-05-17T22:12:19.5837152-04:00</dateTime>
      </value>
    </item>
    <item>
      <key>
        <string>\admin\web.config</string>
      </key>
      <value>
        <dateTime>2007-05-17T22:12:26.3935072-04:00</dateTime>
      </value>
    </item>
    <item>
      <key>
        <string>\app_code\indielyricsdata.cs</string>
      </key>
      <value>
        <dateTime>2007-05-08T23:43:23.6940704-04:00</dateTime>
      </value>
    </item>
    <item>
      <key>
        <string>\indielyrics\login.aspx.cs</string>
      </key>
      <value>
        <dateTime>2007-05-08T20:54:16.2677712-04:00</dateTime>
      </value>
    </item>
    <item>
      <key>
        <string>\login.aspx.cs</string>
      </key>
      <value>
        <dateTime>2007-05-17T22:12:40.7140992-04:00</dateTime>
      </value>
    </item>
    <item>
      <key>
        <string>\controls</string>
      </key>
      <value>
        <dateTime>2007-05-17T22:12:15.2537648-04:00</dateTime>
      </value>
    </item>
    <item>
      <key>
        <string>\admin\admin.master</string>
      </key>
      <value>
        <dateTime>2007-05-17T22:27:05.269408-04:00</dateTime>
      </value>
    </item>
    <item>
      <key>
        <string>\admin\admin.master.cs</string>
      </key>
      <value>
        <dateTime>2007-05-17T22:12:18.2818432-04:00</dateTime>
      </value>
    </item>
    <item>
      <key>
        <string>\admin\downloads.aspx</string>
      </key>
      <value>
        <dateTime>2007-05-17T22:12:20.1845792-04:00</dateTime>
      </value>
    </item>
    <item>
      <key>
        <string>\admin\downloads.aspx.cs</string>
      </key>
      <value>
        <dateTime>2007-05-17T22:12:20.7854432-04:00</dateTime>
      </value>
    </item>
    <item>
      <key>
        <string>\admin\errors.aspx</string>
      </key>
      <value>
        <dateTime>2007-05-17T22:12:21.4864512-04:00</dateTime>
      </value>
    </item>
    <item>
      <key>
        <string>\admin\errors.aspx.cs</string>
      </key>
      <value>
        <dateTime>2007-05-17T22:12:22.0873152-04:00</dateTime>
      </value>
    </item>
    <item>
      <key>
        <string>\admin\styles.css</string>
      </key>
      <value>
        <dateTime>2007-05-17T22:12:24.1903392-04:00</dateTime>
      </value>
    </item>
    <item>
      <key>
        <string>\app_code\admindata.cs</string>
      </key>
      <value>
        <dateTime>2007-05-14T23:23:57.6313664-04:00</dateTime>
      </value>
    </item>
    <item>
      <key>
        <string>\controls\login.ascx</string>
      </key>
      <value>
        <dateTime>2007-05-09T22:30:21.4725104-04:00</dateTime>
      </value>
    </item>
    <item>
      <key>
        <string>\controls\login.ascx.cs</string>
      </key>
      <value>
        <dateTime>2007-05-17T22:12:37.5094912-04:00</dateTime>
      </value>
    </item>
    <item>
      <key>
        <string>\login.aspx</string>
      </key>
      <value>
        <dateTime>2007-05-17T22:12:40.1132352-04:00</dateTime>
      </value>
    </item>
    <item>
      <key>
        <string>\admin\users.aspx</string>
      </key>
      <value>
        <dateTime>2007-05-17T22:12:24.8913472-04:00</dateTime>
      </value>
    </item>
    <item>
      <key>
        <string>\admin\users.aspx.cs</string>
      </key>
      <value>
        <dateTime>2007-05-17T22:12:25.7926432-04:00</dateTime>
      </value>
    </item>
    <item>
      <key>
        <string>\indielyrics\edit_user.aspx.cs</string>
      </key>
      <value>
        <dateTime>2007-05-14T23:24:00.5555712-04:00</dateTime>
      </value>
    </item>
    <item>
      <key>
        <string>\admin\slog.aspx</string>
      </key>
      <value>
        <dateTime>2007-05-17T22:12:22.6981936-04:00</dateTime>
      </value>
    </item>
    <item>
      <key>
        <string>\admin\slog.aspx.cs</string>
      </key>
      <value>
        <dateTime>2007-05-17T22:12:23.5894752-04:00</dateTime>
      </value>
    </item>
    <item>
      <key>
        <string>\app_code\slogdata.cs</string>
      </key>
      <value>
        <dateTime>2007-05-14T23:37:36.2205792-04:00</dateTime>
      </value>
    </item>
    <item>
      <key>
        <string>\slog</string>
      </key>
      <value>
        <dateTime>2007-05-17T22:12:15.7144272-04:00</dateTime>
      </value>
    </item>
    <item>
      <key>
        <string>\slog\images</string>
      </key>
      <value>
        <dateTime>2007-05-17T22:12:16.135032-04:00</dateTime>
      </value>
    </item>
    <item>
      <key>
        <string>\slog\default.aspx</string>
      </key>
      <value>
        <dateTime>2007-05-17T22:12:42.1161152-04:00</dateTime>
      </value>
    </item>
    <item>
      <key>
        <string>\slog\default.aspx.cs</string>
      </key>
      <value>
        <dateTime>2007-05-17T22:12:42.8171232-04:00</dateTime>
      </value>
    </item>
    <item>
      <key>
        <string>\slog\images\button.gif</string>
      </key>
      <value>
        <dateTime>2007-05-17T22:12:43.5181312-04:00</dateTime>
      </value>
    </item>
    <item>
      <key>
        <string>\slog\slog.master</string>
      </key>
      <value>
        <dateTime>2007-05-17T22:12:44.2191392-04:00</dateTime>
      </value>
    </item>
    <item>
      <key>
        <string>\slog\slog.master.cs</string>
      </key>
      <value>
        <dateTime>2007-05-17T22:12:44.8300176-04:00</dateTime>
      </value>
    </item>
    <item>
      <key>
        <string>\slog\styles.css</string>
      </key>
      <value>
        <dateTime>2007-05-17T22:12:45.4208672-04:00</dateTime>
      </value>
    </item>
    <item>
      <key>
        <string>\app_code\data</string>
      </key>
      <value>
        <dateTime>2007-05-17T22:12:14.232296-04:00</dateTime>
      </value>
    </item>
    <item>
      <key>
        <string>\app_code\membership</string>
      </key>
      <value>
        <dateTime>2007-05-17T22:12:14.9132752-04:00</dateTime>
      </value>
    </item>
    <item>
      <key>
        <string>\app_code\data\admin.cs</string>
      </key>
      <value>
        <dateTime>2007-05-17T22:12:29.0973952-04:00</dateTime>
      </value>
    </item>
    <item>
      <key>
        <string>\app_code\data\base.cs</string>
      </key>
      <value>
        <dateTime>2007-05-17T22:12:29.9986912-04:00</dateTime>
      </value>
    </item>
    <item>
      <key>
        <string>\app_code\data\download.cs</string>
      </key>
      <value>
        <dateTime>2007-05-17T22:12:30.5995552-04:00</dateTime>
      </value>
    </item>
    <item>
      <key>
        <string>\app_code\data\indielyrics.cs</string>
      </key>
      <value>
        <dateTime>2007-05-17T22:12:31.6009952-04:00</dateTime>
      </value>
    </item>
    <item>
      <key>
        <string>\app_code\data\slog.cs</string>
      </key>
      <value>
        <dateTime>2007-05-17T22:12:32.3120176-04:00</dateTime>
      </value>
    </item>
    <item>
      <key>
        <string>\app_code\data\user.cs</string>
      </key>
      <value>
        <dateTime>2007-05-17T22:12:32.8928528-04:00</dateTime>
      </value>
    </item>
    <item>
      <key>
        <string>\app_code\membership\siteuser.cs</string>
      </key>
      <value>
        <dateTime>2007-05-17T22:12:33.9043072-04:00</dateTime>
      </value>
    </item>
    <item>
      <key>
        <string>\app_code\membership\siteusers.cs</string>
      </key>
      <value>
        <dateTime>2007-05-17T22:12:34.5051712-04:00</dateTime>
      </value>
    </item>
    <item>
      <key>
        <string>\app_code\membership\usertype.cs</string>
      </key>
      <value>
        <dateTime>2007-05-17T22:12:35.2963088-04:00</dateTime>
      </value>
    </item>
    <item>
      <key>
        <string>\todo.txt</string>
      </key>
      <value>
        <dateTime>2007-05-17T22:12:47.443776-04:00</dateTime>
      </value>
    </item>
  </UploadLog>
  <UncheckUploadedFiles>true</UncheckUploadedFiles>
  <FtpServer> ftp.longueur.org</FtpServer>
  <FtpUserID>adparadox</FtpUserID>
  <FtpPassword>Me1Vd3c1M4Q=</FtpPassword>
  <FtpPassive>false</FtpPassive>
  <FtpRemotePath>/c:/hosting/webhost4life/member/adparadox</FtpRemotePath>
</DeployConfig>