<?xml version="1.0" encoding="utf-8"?>
<DeployConfig>
  <CompilationMode>InPlaceCompilation</CompilationMode>
  <SavePassword>true</SavePassword>
  <FtpServerOs>215 UNIX Type: L8</FtpServerOs>
  <FtpServerType>Serv-U FTP-Server v2.5i for WinSock ...</FtpServerType>
  <Validated>true</Validated>
  <MsFtpUserPre>false</MsFtpUserPre>
  <StringReplacements>
    <StringReplacement>
      <FilePattern>\Web.Config</FilePattern>
      <LookFor>Data Source=ADAM-WIN;Initial Catalog=Longueur;Integrated Security=True</LookFor>
      <ReplaceWith>Data Source=sql331.mysite4now.com;Initial Catalog=longueur;Persist Security Info=True;User ID=adparadox;Password=_S1mpl3n3ss</ReplaceWith>
    </StringReplacement>
    <StringReplacement>
      <FilePattern>\Web.Config</FilePattern>
      <LookFor>debug="true"</LookFor>
      <ReplaceWith>debug="false"</ReplaceWith>
    </StringReplacement>
    <StringReplacement>
      <FilePattern>\Web.Config</FilePattern>
      <LookFor>customErrors mode="Off"</LookFor>
      <ReplaceWith>customErrors mode="On"</ReplaceWith>
    </StringReplacement>
  </StringReplacements>
  <FtpPort>21</FtpPort>
  <FtpTimeout>20</FtpTimeout>
  <IgnoreFilters>
    <Filter>*.sln</Filter>
    <Filter>*\aspnet_client</Filter>
    <Filter>*.pdb</Filter>
    <Filter>*.suo</Filter>
    <Filter>*.*scc</Filter>
    <Filter>*.exclude</Filter>
    <Filter>*.refresh</Filter>
    <Filter>*.webinfo</Filter>
    <Filter>*.ldf</Filter>
    <Filter>*Thumbs.db</Filter>
    <Filter>*\bin\*.xml</Filter>
  </IgnoreFilters>
  <UploadAssemblyWhenCs>true</UploadAssemblyWhenCs>
  <UploadLog>
    <item>
      <key>
        <string>\software</string>
      </key>
      <value>
        <dateTime>2007-05-07T23:46:22.0102112-04:00</dateTime>
      </value>
    </item>
    <item>
      <key>
        <string>\software\download.aspx</string>
      </key>
      <value>
        <dateTime>2007-05-07T22:06:22.4823936-04:00</dateTime>
      </value>
    </item>
    <item>
      <key>
        <string>\software\download.aspx.cs</string>
      </key>
      <value>
        <dateTime>2007-05-07T23:42:37.4381472-04:00</dateTime>
      </value>
    </item>
    <item>
      <key>
        <string>\app_code</string>
      </key>
      <value>
        <dateTime>2007-05-09T22:30:11.2578224-04:00</dateTime>
      </value>
    </item>
    <item>
      <key>
        <string>\app_webreferences</string>
      </key>
      <value>
        <dateTime>2007-05-07T22:11:01.3863072-04:00</dateTime>
      </value>
    </item>
    <item>
      <key>
        <string>\app_webreferences\amazon</string>
      </key>
      <value>
        <dateTime>2007-05-07T22:11:02.057272-04:00</dateTime>
      </value>
    </item>
    <item>
      <key>
        <string>\bin</string>
      </key>
      <value>
        <dateTime>2007-05-07T22:11:02.658136-04:00</dateTime>
      </value>
    </item>
    <item>
      <key>
        <string>\app_code\amazoninfo.cs</string>
      </key>
      <value>
        <dateTime>2007-05-07T22:11:03.9399792-04:00</dateTime>
      </value>
    </item>
    <item>
      <key>
        <string>\app_code\constants.cs</string>
      </key>
      <value>
        <dateTime>2007-05-07T22:17:53.124952-04:00</dateTime>
      </value>
    </item>
    <item>
      <key>
        <string>\app_code\data.cs</string>
      </key>
      <value>
        <dateTime>2007-05-09T22:30:20.7715024-04:00</dateTime>
      </value>
    </item>
    <item>
      <key>
        <string>\app_code\downloaddata.cs</string>
      </key>
      <value>
        <dateTime>2007-05-08T23:43:22.78276-04:00</dateTime>
      </value>
    </item>
    <item>
      <key>
        <string>\app_code\longueurdata.cs</string>
      </key>
      <value>
        <dateTime>2007-05-07T22:11:07.7554656-04:00</dateTime>
      </value>
    </item>
    <item>
      <key>
        <string>\app_code\searchtype.cs</string>
      </key>
      <value>
        <dateTime>2007-05-07T22:11:08.366344-04:00</dateTime>
      </value>
    </item>
    <item>
      <key>
        <string>\app_code\siteuser.cs</string>
      </key>
      <value>
        <dateTime>2007-05-08T23:43:24.4952224-04:00</dateTime>
      </value>
    </item>
    <item>
      <key>
        <string>\app_code\usertype.cs</string>
      </key>
      <value>
        <dateTime>2007-05-08T23:43:25.0960864-04:00</dateTime>
      </value>
    </item>
    <item>
      <key>
        <string>\app_code\wittisms.cs</string>
      </key>
      <value>
        <dateTime>2007-05-07T22:11:10.26908-04:00</dateTime>
      </value>
    </item>
    <item>
      <key>
        <string>\app_webreferences\amazon\awsecommerceservice.discomap</string>
      </key>
      <value>
        <dateTime>2007-05-07T22:11:10.970088-04:00</dateTime>
      </value>
    </item>
    <item>
      <key>
        <string>\app_webreferences\amazon\awsecommerceservice.wsdl</string>
      </key>
      <value>
        <dateTime>2007-05-07T22:11:14.5852864-04:00</dateTime>
      </value>
    </item>
    <item>
      <key>
        <string>\bin\common.dll</string>
      </key>
      <value>
        <dateTime>2007-05-07T22:11:16.2877344-04:00</dateTime>
      </value>
    </item>
    <item>
      <key>
        <string>\bin\magicajax.dll</string>
      </key>
      <value>
        <dateTime>2007-05-07T22:11:19.6926304-04:00</dateTime>
      </value>
    </item>
    <item>
      <key>
        <string>\global.asax</string>
      </key>
      <value>
        <dateTime>2007-05-09T22:30:22.8945552-04:00</dateTime>
      </value>
    </item>
    <item>
      <key>
        <string>\oops.html</string>
      </key>
      <value>
        <dateTime>2007-05-07T22:11:20.9945024-04:00</dateTime>
      </value>
    </item>
    <item>
      <key>
        <string>\web.config</string>
      </key>
      <value>
        <dateTime>2007-05-09T22:30:24.7772624-04:00</dateTime>
      </value>
    </item>
    <item>
      <key>
        <string>\software\index.html</string>
      </key>
      <value>
        <dateTime>2007-05-07T23:46:23.7026448-04:00</dateTime>
      </value>
    </item>
    <item>
      <key>
        <string>\admin</string>
      </key>
      <value>
        <dateTime>2007-05-09T22:30:10.9173328-04:00</dateTime>
      </value>
    </item>
    <item>
      <key>
        <string>\indielyrics</string>
      </key>
      <value>
        <dateTime>2007-05-08T20:54:09.27772-04:00</dateTime>
      </value>
    </item>
    <item>
      <key>
        <string>\admin\default.aspx</string>
      </key>
      <value>
        <dateTime>2007-05-09T22:30:13.4609904-04:00</dateTime>
      </value>
    </item>
    <item>
      <key>
        <string>\admin\default.aspx.cs</string>
      </key>
      <value>
        <dateTime>2007-05-09T22:30:14.2621424-04:00</dateTime>
      </value>
    </item>
    <item>
      <key>
        <string>\admin\web.config</string>
      </key>
      <value>
        <dateTime>2007-05-09T22:30:19.0690544-04:00</dateTime>
      </value>
    </item>
    <item>
      <key>
        <string>\app_code\indielyricsdata.cs</string>
      </key>
      <value>
        <dateTime>2007-05-08T23:43:23.6940704-04:00</dateTime>
      </value>
    </item>
    <item>
      <key>
        <string>\indielyrics\login.aspx.cs</string>
      </key>
      <value>
        <dateTime>2007-05-08T20:54:16.2677712-04:00</dateTime>
      </value>
    </item>
    <item>
      <key>
        <string>\login.aspx.cs</string>
      </key>
      <value>
        <dateTime>2007-05-09T22:30:24.1763984-04:00</dateTime>
      </value>
    </item>
    <item>
      <key>
        <string>\controls</string>
      </key>
      <value>
        <dateTime>2007-05-09T22:30:11.5882976-04:00</dateTime>
      </value>
    </item>
    <item>
      <key>
        <string>\admin\admin.master</string>
      </key>
      <value>
        <dateTime>2007-05-09T22:30:12.2592624-04:00</dateTime>
      </value>
    </item>
    <item>
      <key>
        <string>\admin\admin.master.cs</string>
      </key>
      <value>
        <dateTime>2007-05-09T22:30:12.8601264-04:00</dateTime>
      </value>
    </item>
    <item>
      <key>
        <string>\admin\downloads.aspx</string>
      </key>
      <value>
        <dateTime>2007-05-09T22:30:15.1634384-04:00</dateTime>
      </value>
    </item>
    <item>
      <key>
        <string>\admin\downloads.aspx.cs</string>
      </key>
      <value>
        <dateTime>2007-05-09T22:30:16.6856272-04:00</dateTime>
      </value>
    </item>
    <item>
      <key>
        <string>\admin\errors.aspx</string>
      </key>
      <value>
        <dateTime>2007-05-09T22:30:17.2664624-04:00</dateTime>
      </value>
    </item>
    <item>
      <key>
        <string>\admin\errors.aspx.cs</string>
      </key>
      <value>
        <dateTime>2007-05-09T22:30:17.8673264-04:00</dateTime>
      </value>
    </item>
    <item>
      <key>
        <string>\admin\styles.css</string>
      </key>
      <value>
        <dateTime>2007-05-09T22:30:18.4681904-04:00</dateTime>
      </value>
    </item>
    <item>
      <key>
        <string>\app_code\admindata.cs</string>
      </key>
      <value>
        <dateTime>2007-05-09T22:30:19.7700624-04:00</dateTime>
      </value>
    </item>
    <item>
      <key>
        <string>\controls\login.ascx</string>
      </key>
      <value>
        <dateTime>2007-05-09T22:30:21.4725104-04:00</dateTime>
      </value>
    </item>
    <item>
      <key>
        <string>\controls\login.ascx.cs</string>
      </key>
      <value>
        <dateTime>2007-05-09T22:30:22.06336-04:00</dateTime>
      </value>
    </item>
    <item>
      <key>
        <string>\login.aspx</string>
      </key>
      <value>
        <dateTime>2007-05-09T22:30:23.5755344-04:00</dateTime>
      </value>
    </item>
  </UploadLog>
  <UncheckUploadedFiles>true</UncheckUploadedFiles>
  <FtpServer> ftp.longueur.org</FtpServer>
  <FtpUserID>adparadox</FtpUserID>
  <FtpPassword>Me1Vd3c1M4Q=</FtpPassword>
  <FtpPassive>false</FtpPassive>
  <FtpRemotePath>/c:/hosting/webhost4life/member/adparadox</FtpRemotePath>
</DeployConfig>