<?xml version="1.0"?>
<configuration xmlns="http://schemas.microsoft.com/.NetConfiguration/v2.0">
	<appSettings>
		<add key="Amazon.AWSECommerceService" value="http://soap.amazon.com/onca/soap?Service=AWSECommerceService"/>
	</appSettings>
	<connectionStrings configProtectionProvider="DataProtectionConfigurationProvider">
  <EncryptedData>
   <CipherData>
    <CipherValue>AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAA9w4T9cBkbEGVHJWqzi39xgQAAAACAAAAAAADZgAAqAAAABAAAADyjCpoGgrfvPipK3TyjUb+AAAAAASAAACgAAAAEAAAAPbL1VQ/V77CjcwZJ/GiulloAQAAszN4ltw95IOkbn+WkSVLF4Kxq7OZ5YmSSa6Tx6jaJpw6A3VlE/L+fs51cmGBQs+x8fKLcYuHriUB35bpC7r0P5g/JatPKF/CTtWMIHqp+p7/bEVUEykVYr4ZSUBxLkXuf98AEqutn6ofWA2SJEuOD3G3aO+O1sQxOE9SQGrhq8w4toSAijAgWgTnA1gqMITnGqT3HotoQPeLxNCIbXYwjsUYFmYb+8YH9Bu01iPfe2jbQmoD4okO+81uwMiITszqz/rzsy92rJqA35jNvacQiIZNLayizjTPgfzGzodyDR0vnw0sTGrLEOj/6fyGIuT+pQft9DDYeKRx9/FOV14egjvT0My1R0pQ1342nqfkdgxeOWKkEL8Ahe2YWrFTRTQV8i3tvyEUFSWLqAdwoDNJ60aVUqBM/sTIoi8dRlK0Qw3TgscSp2CmBUu6VoS1YE90e33JWOehDX2R+Lxe34sYkHLIaDdM0EINFAAAAKcSaexLnViRnc3HRi572Wk+Jnfb</CipherValue>
   </CipherData>
  </EncryptedData>
 </connectionStrings>
	<system.web>
		<compilation debug="true">
			<assemblies>
				<add assembly="System.Design, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
			</assemblies>
		</compilation>
		<authentication mode="Windows"/>
		<customErrors mode="RemoteOnly" defaultRedirect="oops.html">
			<error statusCode="403" redirect="oops.html" />
			<error statusCode="404" redirect="oops.html" />
		</customErrors>
		<httpModules>
			<add name="MagicAjax" type="MagicAjax.MagicAjaxModule, MagicAjax"/>
		</httpModules>
	</system.web>
</configuration>
