<?xml version="1.0"?>
<configuration xmlns="http://schemas.microsoft.com/.NetConfiguration/v2.0">
	<appSettings>
		<add key="Amazon.AWSECommerceService" value="http://soap.amazon.com/onca/soap?Service=AWSECommerceService" />
		<add key="encryptConnectionStrings" value="false" />
	</appSettings>
	<connectionStrings>
		<remove name="longueurConnectionString" />
		<add name="longueurConnectionString" connectionString="Data Source=sql331.mysite4now.com;Initial Catalog=longueur;Persist Security Info=True;User ID=adparadox;Password=_S1mpl3n3ss" />
	</connectionStrings>
	<system.web>
		<compilation debug="true">
			<assemblies>
				<add assembly="System.Design, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
			</assemblies>
		</compilation>
		<authentication mode="Windows"/>
		<customErrors mode="Off" defaultRedirect="oops.html">
			<error statusCode="403" redirect="oops.html" />
			<error statusCode="404" redirect="oops.html" />
		</customErrors>
		<httpModules>
			<add name="MagicAjax" type="MagicAjax.MagicAjaxModule, MagicAjax"/>
		</httpModules>
	</system.web>
</configuration>
