<?xml version="1.0"?>
<configuration xmlns="http://schemas.microsoft.com/.NetConfiguration/v2.0">
  <configSections>
    <section name="rewriter" requirePermission="false" 
             type="Intelligencia.UrlRewriter.Configuration.RewriterConfigurationSectionHandler, Intelligencia.UrlRewriter" />
    <section name="flickrNet" type="FlickrNet.FlickrConfigurationManager,FlickrNet"/>
  </configSections>

  <appSettings>
    <add key="Amazon.AWSECommerceService" value="http://soap.amazon.com/onca/soap?Service=AWSECommerceService"/>
    <add key="encryptConnectionStrings" value="false" />
    <add key="timezoneDifference" value="0" />
  </appSettings>

	<connectionStrings>
		<remove name="longueurConnectionString"/>
		<add name="longueurConnectionString" connectionString="Data Source=Stinky;Initial Catalog=Longueur;Integrated Security=True"/>
	</connectionStrings>

	<rewriter>
		<rewrite url="~/longueur/TheHillellis/(\d+)\.aspx" to="/longueur/TheHillellis/Permalink.aspx?id=$1" processing="continue" />
	</rewriter>

	<flickrNet apiKey="70eb32334b9a5dccf760e8428437fc8b" secret="66c465976283b45a" cacheDisabled="true" cacheLocation="flickrnetcache" />

	<system.web>
    <compilation debug="true">
      <assemblies>
        <add assembly="System.Design, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
      </assemblies>
    </compilation>

    <customErrors mode="Off"  defaultRedirect="oops.html">
      <error statusCode="403" redirect="oops.html" />
      <error statusCode="404" redirect="oops.html" />
    </customErrors>

    <trace enabled="true" localOnly="true" />
    <httpCookies httpOnlyCookies="true" />
    <sessionState cookieless="false" />

    <httpModules>
      <add name="MagicAjax" type="MagicAjax.MagicAjaxModule, MagicAjax"/>
      <add type="Intelligencia.UrlRewriter.RewriterHttpModule, Intelligencia.UrlRewriter"
        name="UrlRewriter" />
    </httpModules>

    <authentication	mode="Forms">
      <forms name="Fookie" loginUrl="login.aspx" protection="All" path="/" cookieless="UseCookies" />
    </authentication>
    <authorization>
      <allow users="*"/>
    </authorization>

    <pages>
      <controls>
        <add tagPrefix="lng" src="~/Controls/Login.ascx" tagName="login"/>
        <add tagPrefix="lng" src="~/Controls/Blog/Content.ascx" tagName="content"/>
        <add tagPrefix="lng" src="~/Controls/Blog/Archives.ascx" tagName="archives"/>
      </controls>
    </pages>
  </system.web>
</configuration>